.container{
    display: flex; 
    justify-content: center;
    height: 700px;
    width: 800px;
    background-color: aqua;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr) ;
    /* grid-template-areas: "header header header header" "main main . sidebar " " footer footer footer footer "; */
}

.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    align-content: center;

}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer ;
} */