.container{
    display: flex; 
    height: 700px;
    width: 800px;
    background-color: aqua;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px) ;
    /* grid-template-areas: "header header header header" "main main . sidebar " " footer footer footer footer "; */
    gap: 10px;
    /* justify-items :center;
   align-items:center; */
   place-items: end;
   /* justify-content: center; */
   /* align-content: center; */
   place-content: center;
}

.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}
.item1{
    justify-self:end;
    align-self:end;
}
