.Container{
        border: 2px solid brown;
        display: flex;
        height: 350px;
        width: 1000px;
        padding: 10px;
        margin:250px;
}
.box{   
         height: 300px;
        width:150px;
        text-align: center;
        align-content: center;
        
}

.box1 {
        background-color: rgb(227, 227, 15);
        
      }
.box2 {
        background-color: rgb(203, 33, 141);
      }
.box3 {
        background-color: rgb(83, 186, 231);
}