.p1{
    color: blue;
    background-color:red;
    font-size: 20px;
    text-align: center;
}
.p2 {
    color: green;
    background-color: aqua;
}
#jk {
    font-size: 25px;
    font-weight: bold;
}
#p3{
    color:blueviolet;
    background-color:whitesmoke;
}
