#box1 {
        border: 4px solid black;
        width:900px;
        height:250px;
        padding: 10px;
}
#box2 {
         background-color: yellow;
         border: 20px solid rgb(11, 11, 183);
         height:100px;
         margin:50px;
         font-size:large;
         font-style: inherit;
         text-align: center;
         align-content: center;
}