 .main{
         border: 4px solid black;
         height: 250px;
         width: 700px;                                                                                                                                                                                                                                            
         padding:10px;
        }
.blue-container{
        background-color: blue;
        padding: 20px;
        width: 560Px;
        }
.yellow-container{
     background: yellow;
     text-align: center;
     padding: 30px;
     width: 500px;
        }
 

