*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}

/* .container , h1 , #h1 and so on are the selectors */
.container{
     height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-weight: normal;
}
.shape{
   height: 200px;
   width: 200px;
   border: 1px solid black;
   margin-top:10px;
   margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.shape1{
    height:180px;
    width:180px;
}
.shape1:hover{
    background-color: red;

}
.shape2{
   rotate: 45deg;
   margin-top:40px;
   width: 141px;
   height: 141px;
   translate:35px;
}
.shape2 h1{
    rotate: -45deg;
}

.shape2:hover{
    background-color:blue;
}

.shape3{
    border-radius: 50%;
}

.shape3:hover{
    background-color:green;
}
/* shape1:hover , shape2:hover , shape3:hover are the pseudo selectors used to apply styles when the user hovers over the respective shapes. */