*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50% , -50%); */
    height: 300px;
    width: 230px;
    border:1px solid salmon;
    border-radius: 20px;

    /* jo bhi card ke bahar cheej aa rhi usko fit krne ke liye ya to same border radius de do jo ki maine img selector ke ander de rkha  hai isliye yha ka overflow hidden comment kar rakaha hai maine 
     ya overflow hidden use kar ke ham overflow rok skte hai  */

    /* overflow: hidden; */
}


.card:hover{
       z-index: 5;
}

.card1{
    z-index:4;
}

.card2{
    z-index:3;
    rotate:-7deg;
}
.card3{
    z-index:2;
    rotate:-14deg; 
}
.card4{
    z-index:1;
    rotate:-21deg;
   }
img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}