*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 300px;
    width: 230px;
    border:1px solid salmon;
    border-radius: 20px;
}
.card1:hover{
    background-color: red;
}

.card2{
    rotate:-8deg;
   
}
.card2:hover{
    background-color: blue;
}
.card3{
   rotate:-16deg;
}
.card3:hover{
    background-color:green;
}

.card4{
   rotate:-24deg;
}
.card4:hover{
    background-color:yellow;
}