*{
    padding: 0%;
    margin: 0%;
}

html,body{
    width:100%;
    height:100%;
}
main{
    display: flex;
}
div{
      height:250px;
    width:250px;
}

#box1{
    background-color:rgb(26, 56, 176) ;
}
#box2{
    background-color:rgb(173, 33, 61) ;
}
#box3{
    background-color:rgb(40, 132, 17) ;
}